* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 1.3rem;
  background-color: hsl(195, 53%, 79%, 0.3);
}
blockquote {
  line-height: 1.6;
}
.container {
  padding: 20rem 10rem;
}
.testimonial-author {
  display: flex;
  align-items: center;
  gap: 2rem;

  margin-bottom: 1.5rem;
}
.testimonials {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 3rem;
}
.testimonial1 {
  grid-column: 1 / 3;
  background-color: hsl(263, 55%, 52%);
  color: hsl(0, 0%, 100%);
}
.testimonial2 {
  background-color: hsl(217, 19%, 35%);
  color: hsl(0, 0%, 100%);
  grid-column: 3/4;
}
.testimonial3 {
  background-color: hsl(0, 0%, 100%);
  grid-column: 4/5;
  grid-row: 1/-1;
  color: hsl(217, 19%, 35%);
}
.testimonial4 {
  background-color: hsl(0, 0%, 100%);
  color: hsl(217, 19%, 35%);
}
.testimonial5 {
  grid-column: 2 / 4;
  background-color: hsl(219, 29%, 14%);
  color: hsl(0, 0%, 100%);
}
.testimonial1 blockquote,
.testimonial2 blockquote,
.testimonial5 blockquote {
  color: hsl(0, 0%, 100%, 0.5);
}
.verified {
  opacity: 0.5;
  font-size: 1.2rem;
}
.testimonial1 {
  position: relative;
}
.quotations {
  height: 13rem;
  width: 13rem;
  position: absolute;
  right: 20%;
  top: 0;
}
.testimonial-box {
  border-radius: 10px;
  padding: 3rem;
}
.profile-pic {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}
.name {
  font-weight: 600;
}
.text {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 2.4rem;
}
/* Footer Section */
.attribution {
  margin-top: 30px;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (max-width: 75em) {
  .container {
    padding: 10rem 5rem;
  }
}
@media (max-width: 63em) {
  .container {
    padding: 0;
  }
}
@media (max-width: 55em) {
  html {
    font-size: 56.25%;
  }
  .testimonials {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
  .testimonial1 {
    grid-row: 1;
    grid-column: 1;
  }
  .testimonial2 {
    grid-row: 2;
    grid-column: 1;
  }
  .testimonial3 {
    grid-row: 3;
    grid-column: 1;
  }
  .testomonial4 {
    grid-row: 4;
    grid-column: 1;
  }
  .testimonial5 {
    grid-row: 5;
    grid-column: 1;
  }
  .container {
    padding: 10rem 5rem;
  }
  .testimonial-box {
    padding: 2rem;
  }
  .testimonial-author {
    gap: 1rem;
  }
  .quotations {
    right: 5%;
  }
}
